.canvas-container {
  text-align: center;
  canvas {
    width: 100%;
    max-width: 480px;
    max-height: 480px;
    margin: 12px;
    vertical-align: middle;
  }

  button.share {
    display: none;
  }
  @include breakpoint(medium) {
    button.share {
      display: inline-block;
    }
  }
}
